In [20]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# from __future__ import print_function
# import csv

# 1. Read FairDealCustomerData.csv

In [21]:
col = ['LastName','Name','Exception']
data = pd.read_csv('FairDealCustomerData.csv',names=col)

In [22]:
data.head()
# with data as fh:
#     rd = csv.DictReader(fh,delimiter=".")
#     for row in rd:
#         print(row)

     LastName                 Name  Exception
0      Braund     Mr. Owen Harris           1
1   Heikkinen         Miss. Laina           0
2       Allen   Mr. William Henry           0
3       Moran           Mr. James           0
4    McCarthy       Mr. Timothy J           0

# 2. Name field contains full name â€“ use regular expression to separate title, first name, last name

In [23]:
name1 = data["Name"].str.split(".",n=1,expand=True)

In [24]:
name1.head()

       0                1
0     Mr     Owen Harris
1   Miss           Laina
2     Mr   William Henry
3     Mr           James
4     Mr       Timothy J

In [25]:
data['Title']=name1[0]
data['FirstName']=name1[1]

In [26]:
data.drop(columns=["Name"],inplace=True)

In [27]:
data.head()

     LastName  Exception  Title        FirstName
0      Braund          1     Mr     Owen Harris
1   Heikkinen          0   Miss           Laina
2       Allen          0     Mr   William Henry
3       Moran          0     Mr           James
4    McCarthy          0     Mr       Timothy J

# 3. Store the data in Customer Class

In [28]:
columnsTitles = ['Title', 'FirstName', 'LastName','Exception']
Customer_Class = data.reindex(columns=columnsTitles)
Customer_Class.head()

   Title        FirstName    LastName  Exception
0     Mr     Owen Harris       Braund          1
1   Miss           Laina    Heikkinen          0
2     Mr   William Henry        Allen          0
3     Mr           James        Moran          0
4     Mr       Timothy J     McCarthy          0

# 4. Create Custom Exception â€“ CustomerNotAllowedException

In [29]:
Customer_Class['CustomerStatus']=np.where( Customer_Class['Exception']==1,'Customer not allowed Expcetion','Customer Expcetion')
Customer_Class.head()

,Title,FirstName,LastName,Exception,CustomerStatus
0,Mr,Owen Harris,Braund,1,Customer not allowed Expcetion
1,Miss,Laina,Heikkinen,0,Customer Expcetion
2,Mr,William Henry,Allen,0,Customer Expcetion
3,Mr,James,Moran,0,Customer Expcetion
4,Mr,Timothy J,McCarthy,0,Customer Expcetion

In [30]:
#test = Customer_Class.sort_values(['Exception'],ascending=False)
#test.head()

In [31]:
#Customer_Class1 = Customer_Class[Customer_Class['Exception']==1]
#Customer_Class1.head()
#y = Customer_Class1[0:10]
#y.loc[0][0]

# 5. Pass a customer to function "createOrder" and throw CustomerNotAllowedException in case of blacklisted value is 1

In [32]:
class corder():
    def __init__(self,first,last):
        self.first = first
        self.last = last
    def getlistfuc(self):
        for index, row in Customer_Class.iterrows():
            if self.first in row.FirstName and self.last in row.LastName: 
                if row.Exception == 1:
                    z = "Exception Not Allowed handled message Customer is Black Listed: Title:"+row.Title," First Name: ",row.FirstName," LastName :", row.LastName," Black Listed :",str(row.Exception)
                    str1 = ''.join(e for e in list(z))
                    print(str1)
                    break
                else:
                    z = "Order Created Sucessfully for : Title:"+row.Title," First Name: ",row.FirstName," LastName :", row.LastName," Black Listed :",str(row.Exception)
                    str1 = ''.join(e for e in list(z))
                    print(str1)
                    break

In [34]:
b = input("Enter the FirstName and Last Name with coma :")
print(b)
c = b.split(',')
print(c)
#William Henry	Allen

Enter the FirstName and Last Name with coma :Owen Harris,Braund
Owen Harris,Braund
['Owen Harris', 'Braund']

In [35]:
corder(c[0],c[1]).getlistfuc()

Exception Not Allowed handled message Customer is Black Listed: Title: Mr First Name:  Owen Harris  LastName : Braund Black Listed :1

In [36]:
class combinewword():
    def __init__(self,a):
        self.a = a
    def printletter(self):
        word = []
        digit = []
        for each in self.a:
            if each.isalpha():
                word.append(each)
            else:
                digit.append(each)
        print(''.join(word))
        print(''.join(digit))
        
s = combinewword("H1e2l3l4o5w6o7r8l9d")
s.printletter()

Helloworld
123456789

In [37]:
# Customer_Class.groupby(['FirstName'])['FirstName'].count().head()

In [38]:
# var = 'Albert'
# Customer_Class[Customer_Class['FirstName'].str.strip() == var]

In [39]:
# firstname = 'Albert'
# lastname = 'Mallet'
# a = Customer_Class[(Customer_Class['FirstName'].str.strip() == firstname) & (Customer_Class['LastName'].str.strip() == lastname)]
# print(a)